{
  email caddy@nuv.direct
  metrics {
    per_host
  }
  log
}


:9090 {
  metrics
}

www.nuv.sh {
  redir https://nuv.sh{uri} permanent
}

nuv.sh {
  handle_path /.well-known/* {
    root /srv/.well-known
    file_server
 # cors bullshit

    # Handle preflight requests
    @cors_preflight {
      method OPTIONS
    }

    header @cors_preflight {
      Access-Control-Allow-Origin "*"
      Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
      Access-Control-Allow-Headers "Content-Type, Authorization"
      Access-Control-Max-Age "86400"
      Vary "Origin"
    }

    respond @cors_preflight 204

    # For actual requests
    header {
      Access-Control-Allow-Origin "*"
      Vary "Origin"
    }

  }
}

cv.nuv.sh {
  handle /* {
    redir https://reactive-resume.nuv.sh/nuv{path} permanent
  }

  redir https://reactive-resume.nuv.sh/nuv/cv permanent
}

doodler.nuv.sh {
  log
  root /srv/doodler
  encode
  try_files {path} /index.html
  file_server
}

page.nuv.sh {
  root /srv/page
  encode
  try_files {path} /index.html
  file_server
}
