{
  email admin@nuv.direct
  metrics 
}

(add_tls) {
  tls {
    dns porkbun {
      api_key {$API_KEY}
      api_secret_key {$API_SECRET}
    } 
  }
}

:9090 {
  metrics
}

nuv.sh {
  handle_path /.well-known/* {
    root /srv/.well-known
    file_server

    # cors bullshit

    # Handle preflight requests
    @cors_preflight {
      method OPTIONS
    }

    header @cors_preflight {
      Access-Control-Allow-Origin "*"
      Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
      Access-Control-Allow-Headers "Content-Type, Authorization"
      Access-Control-Max-Age "86400"
      Vary "Origin"
    }

    respond @cors_preflight 204

    # For actual requests
    header {
      Access-Control-Allow-Origin "*"
      Vary "Origin"
    }

  }
}


doodler.nuv.sh {
  root /srv/doodler
  encode
  try_files {path} /index.html
  file_server
}


test.nuv.sh {
  respond "test"
}

*.test.nuv.sh {
  import add_tls
  respond {uri}
}

